<section *ngIf="popUpVisible">
  <div class="pop-up-wrapper">
    <div class="close-overlay" (click)="closePopUp()"></div>

    <div class="tittle-closse">
      <div class="font24-700">Leute hinzufügen</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="selector-wrapper" (click)="allUserSelected = true">
      <img
        [src]="
          allUserSelected
            ? 'assets/img/buttons/dot-selected.svg'
            : 'assets/img/buttons/dot-unselected.svg'
        "
        alt=""
      />
      <div>Alle Benutzer hinzufügen</div>
    </div>

    <div class="selector-wrapper" (click)="allUserSelected = false">
      <img
        [src]="
          !allUserSelected
            ? 'assets/img/buttons/dot-selected.svg'
            : 'assets/img/buttons/dot-unselected.svg'
        "
        alt=""
      />
      <div>Bestimte Benutzer hinzufügen</div>
    </div>
    <div class="selected-users-chips overflow-y-scroll">
      <div
        #userChip
        id="{{ user?.uid }}"
        class="user-chip user-chip-desktop"
        *ngFor="let user of selectedUsers"
      >
        <img src="{{ user?.photoURL }}" alt="" />
        <div>{{ user?.name }}</div>
        <div class="close-chip" (click)="removeUserChip(user)"></div>
      </div>
    </div>
    <div *ngIf="!allUserSelected" class="pop-up-input">
      <div
        #userChip
        id="{{ user?.uid }}"
        class="user-chip user-chip-mobile"
        *ngFor="let user of selectedUsers"
      >
        <img src="{{ user?.photoURL }}" alt="" />
        <div>{{ user?.name }}</div>
        <div class="close-chip" (click)="removeUserChip(user)"></div>
      </div>

      <input
        [(ngModel)]="searchText"
        (input)="onSearchTextChange()"
        placeholder="Name eingeben"
        type="text"
      />
    </div>
    <div class="search-results" *ngIf="searchText.length > 0">
      <div class="scroll-content overflow-y-scroll">
        <div
          class="filtered-user"
          *ngFor="let user of filteredUsers"
          (click)="addUserChip(user)"
        >
          <img src="{{ user?.photoURL }}" alt="" />
          <div>{{ user?.name }}</div>
        </div>
      </div>
      <div class="font18-400" *ngIf="filteredUsers.length === 0">
        Keine Ergebnisse gefunden
      </div>
    </div>
    <div class="btn-wrapper">
      <button
        class="primary-btn"
        [disabled]="selectedUsers.length === 0 && !allUserSelected"
        (click)="addUsers()"
      >
        Hinzufügen
      </button>
    </div>
  </div>
  <div class="pop-up-shadow" (click)="closePopUp()"></div>
</section>
