@import "global.scss";
section {
  position: relative;
  box-sizing: border-box;
  @include dFlex($fd: column);
  width: 100%;
  height: calc(100vh - 140px);
  padding-bottom: 40px;
  box-sizing: border-box;
  z-index: auto;
}

.header {
  width: 100%;
  height: 110px;
  @include dFlex($jc: space-between);
  padding: 25px 45px;
  box-shadow: 0px 10px 10px -5px #00000014;
}

.header-user-info {
  @include dFlex();
  gap: 10px;
  padding: 5px 0px 5px 8px;
  &:hover {
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 50px;
    color: $purple3;
  }
}

.header-user-img {
  position: relative;
  width: 50px;
  height: 50px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.status {
  position: absolute;
  bottom: 0px;
  right: 2px;
  width: 13px;
  height: 13px;
  @include statusDot("online", 12px);
  z-index: 4;
}

.receiver-info-container {
  @include dFlex($jc: space-between, $ai: flex-start, $fd: column);
  width: 100%;
  height: 151px;
  padding: 5px 45px;
  margin-bottom: 60px;
}

.receiver-info {
  @include dFlex($ai: flex-end);
  gap: 10px;
  padding: 5px 10px 24px 18px;

  &:hover {
    cursor: pointer;
  }
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-left: -10px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.user-name {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.74px;
  text-align: left;

  &:hover {
    color: $purple3;
  }
}

.user-text {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.28px;
  color: $text-grey;
}

.user-text-name {
  color: $purple3;

  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.message-container {
  @include dFlex($fd: column, $jc: start);
  gap: 65px;
  max-height: 100%;
  width: 100%;
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 24px;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}
