<section *ngIf="messages$ | async as messages">
  <!-- Header -->
  <div class="header">
    <div
      class="header-user-info"
      (click)="receiverId && openProfileView(receiverId)"
    >
      <div class="header-user-img">
        <img
          referrerpolicy="no-referrer"
          [src]="receiverPhotoURL$ | async"
          alt="user-img"
        />
        <div class="status"></div>
      </div>
      <div class="font24-700">{{ receiverName$ | async }}</div>
      <div class="drop-down-icon"></div>
    </div>
  </div>

  <!-- Chat Container -->

  <app-chat
    *ngIf="messages.length > 0"
    class="chat-container"
    [messages]="messages"
    (messageToEdit)="messageToEditHandler($event)"
  ></app-chat>

  <!-- Receiver Info When No Messages -->
  <div
    class="receiver-info-container"
    *ngIf="(messages$ | async)?.length === 0"
  >
    <div
      class="receiver-info"
      (click)="receiverId && openProfileView(receiverId)"
    >
      <div class="user-img">
        <img [src]="receiverPhotoURL$ | async" alt="user-img" />
      </div>
      <div class="user-name">{{ receiverName$ | async }}</div>
    </div>
    <div class="user-text">
      Diese Unterhaltung findet nur zwischen
      <span
        class="user-text-name"
        (click)="receiverId && openProfileView(receiverId)"
      >
        &#64;{{ receiverName$ | async }}
      </span>
      und dir statt.
    </div>
  </div>

  <!-- Input Box for Sending Messages -->
  <app-input-box
    *ngIf="receiverId"
    [messageToEdit]="messageToEdit"
    [messagePath]="messagePath"
    [receiverId]="receiverId"
    [usersUid]="usersUid"
    [space]="'directChat'"
  ></app-input-box>
</section>
