<section>
  <div class="header">
    <div class="header-left">
      <div class="user-img">
        <img [src]="receiverPhotoURL$ | async" alt="user-img" />
      </div>
      <div class="user-name">
        {{ receiverName$ | async }}
      </div>
    </div>
  </div>
  <!-- Messages Container -->
  <div
    #messageContainer
    *ngIf="messages && messages.length"
    class="message-container overflow-y-scroll"
  >
    <div
      *ngFor="let message of messages"
      [class.sent]="message.author === currentUserUid"
      class="message"
    >
      <!-- Message content goes here -->
      {{ message.value.text }}
    </div>
  </div>
  <!-- Placeholder for no messages -->
  <div class="no-messages" *ngIf="!messages || !messages.length">
    No messages yet. Say hello!
  </div>

  <!-- Input Box for Sending Messages -->
  <app-input-box></app-input-box>
</section>
