@import "global.scss";

section {
  @include dFlex($fd: column, $ai: start);
}

.pop-up-wrapper {
  @include dFlex($fd: column, $ai: start);
  width: 500px;
  max-width: 100%;
  min-height: 600px;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 30px;
  border-top-right-radius: 0px;
  gap: 45px;
  box-shadow: 0px 6px 10px 0px #00000033;
  z-index: 6;
}

.header {
  @include dFlex($jc: space-between);
  width: 100%;
}

.close-button {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/close-black.svg",
    "/assets/img/buttons/close-blue.svg"
  );
}

.user-img {
  @include dFlex($jc: center, $ai: center);
  width: 100%;
  img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}

.edit-section-wrapper {
  @include dFlex($fd: column, $ai: start);
  width: 100%;
  gap: 10px;
  .tittle {
    @include dFlex($ai: center);
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
  }
  .input-wrapper {
    @include dFlex($ai: center);
    width: 100%;
    padding: 15px 20px;
    border: solid 1px $light-purple;
    border-radius: 30px;
    input {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
    }
  }
  img {
    width: 30px;
    height: auto;
  }
}

.btn-wrapper {
  width: 100%;
  @include dFlex($jc: space-around);
  width: 100%;
  gap: 20px;
}
