<section *ngIf="popUpVisible">
  <!-- Use 'userData' as the variable after the async pipe -->
  <div class="pop-up-wrapper">
    <div class="header">
      <div class="font24-700">Dein Profil bearbeiten</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="user-img">
      <img [src]="userData.photoURL" alt="avatar" />
    </div>
    <div class="edit-section-wrapper">
      <div class="title">
        <img src="/assets/img/icons/account_circle-black.svg" alt="" />
        <div class="font20-700">Vollständiger Name</div>
      </div>
      <div class="input-wrapper">
        <input [(ngModel)]="userData.name" type="text" />
      </div>
    </div>
    <div class="edit-section-wrapper">
      <div class="title">
        <img src="/assets/img/icons/mail-black.svg" alt="" />
        <div class="font20-700">E-Mail-Adresse</div>
      </div>
      <div class="pop-up-input">
        <input [(ngModel)]="userData.email" type="text" />
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="secondary-btn" (click)="cancelEdit()">Abbrechen</button>
      <button class="primary-btn" (click)="saveEdit()">Speichern</button>
    </div>
  </div>
  <div class="pop-up-shadow-sec-layer" (click)="closePopUp()"></div>
</section>
