@import "global.scss";

section {
  @include dFlex();
  position: relative;
  gap: 5px;
  border: 1px solid $light-purple;
  border-radius: 25px;
  background-color: white;
  z-index: 4;
  padding: 3px 15px;
}

.add-reaction {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/add_reaction-black.svg",
    "/assets/img/buttons/add_reaction-blue.svg"
  );
  border-radius: 50%;
}

.add-thread {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/comment-black.svg",
    "/assets/img/buttons/comment-blue.svg"
  );

  border-radius: 50%;
}

.more-options {
  position: relative;
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/more_vert-black.svg",
    "/assets/img/buttons/more_vert-blue.svg"
  );

  border-radius: 50%;
}

.edit-message-wrapper {
  position: absolute;
  left: 25px;
  top: 20px;
  z-index: 4;
  background-color: white;
  border-radius: 30px;
  border-top-left-radius: 0px;
  padding: 10px 20px;
  box-shadow: 0px 6px 14px 0px #00000033;
}

.edit-message {
  width: max-content;
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  &:hover {
    background-color: $bg-color;
    color: $purple3;
    font-weight: 600;
  }
}

.emoji-picker-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.emoji-picker {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 3;
}

.reaction-emoji {
  @include dFlex();
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    background-color: $bg-color;
  }
  .emoji {
    transform: scale(1.4) translate(8%, 4%);
    //transform: translate(15%, 15%);
  }
}

@media (max-width: 550px) {
  section {
    padding: 0 8px;
  }

  .edit-message {
    font-size: 15px;
    padding: 5px 10px;
  }

  .edit-message-wrapper {
    padding: 5px 10px;
  }
}

@media (max-width: 450px) {
  .edit-message {
    font-size: 13px;
  }
}
