<section>
  <div
    *ngIf="lastTwoReactions[0] !== ''"
    class="reaction-emoji"
    (click)="onEmojiSelected(lastTwoReactions[0])"
  >
    <div class="emoji">{{ lastTwoReactions[0] }}</div>
  </div>
  <div
    *ngIf="lastTwoReactions[1] !== ''"
    class="reaction-emoji"
    (click)="onEmojiSelected(lastTwoReactions[1])"
  >
    <div class="emoji">{{ lastTwoReactions[1] }}</div>
  </div>
  <div class="add-reaction" (click)="toggleEmojiPicker()"></div>
  <div *ngIf="showThread" class="add-thread" (click)="openThread()"></div>
  <div
    (mouseleave)="closeEditMessage()"
    *ngIf="ownMessage"
    class="more-options"
    (click)="toggleEditMessage()"
  >
    <div
      (mouseleave)="closeEditMessage()"
      *ngIf="showEditMessage"
      class="edit-message-wrapper"
    >
      <div class="edit-message" (click)="editMessage()">
        Nachricht bearbeiten
      </div>
    </div>
  </div>
  <app-emoji-picker
    (mouseleave)="toggleEmojiPicker()"
    class="emoji-picker"
    *ngIf="showEmojiPicker"
    (emojiSelected)="onEmojiSelected($event)"
  ></app-emoji-picker>
</section>
