<section>
  <header>
    <div
      [ngClass]="{
          'left-wrapper-closed ': !channelListOpen,
          'left-wrapper-open ': channelListOpen,
        }"
      (click)="toggleChannelList()"
      class="left-wrapper"
    >
      <div
        [ngClass]="{
          'drop-down-closed': !channelListOpen,
          'drop-down-open': channelListOpen,
        }"
      ></div>
      <div class="workspaces-img"></div>
      <div class="channel-tittle">Channels</div>
    </div>
    <div class="header-add-channel" (click)="openAddChannel()"></div>
  </header>
  <div
    [ngClass]="{
      'channel-items-closed': !channelListOpen,
      'channel-items-open': channelListOpen
    }"
    class="channel-items"
  >
    <div class="channel-list">
      <div
        *ngFor="let channel of channels"
        class="channel"
        (click)="goToChannel(channel.id)"
      >
        <div>{{ channel.id }}</div>
        <div class="channel-tag"></div>
        <div>{{ channel.name }}</div>
      </div>
    </div>
    <div class="add-channel" (click)="openAddChannel()">
      <div class="add-img"></div>
      <div>Channel hinzufügen</div>
    </div>
  </div>
</section>
