@import "global.scss";
@import "./../style-helper.scss";

section {
  @include dFlex($fd: column);
  width: 100%;
  height: 100%;
  margin-top: 25px;
  cursor: pointer;
}

header {
  width: 100%;
  @include dFlex($jc: space-between);
}

.left-wrapper-open {
  @include dFlex();
  &:hover {
    .drop-down-open {
      @include dropDown("true", "true");
    }

    .workspaces-img {
      @include iconButton(
        "/assets/img/buttons/workspaces-blue.svg",
        "/assets/img/buttons/workspaces-blue.svg"
      );
    }
    .channel-tittle {
      color: $purple3;
    }
  }
}

.left-wrapper-closed {
  @include dFlex();

  &:hover {
    .drop-down-closed {
      @include dropDown("true", "false");
    }

    .workspaces-img {
      @include iconButton(
        "/assets/img/buttons/workspaces-blue.svg",
        "/assets/img/buttons/workspaces-blue.svg"
      );
    }
    .channel-tittle {
      color: $purple3;
    }
  }
}

.channel-tittle {
  font-size: 20px;
  font-weight: 600;
  &:hover {
    color: $purple3;
  }
}

.channel-items {
  width: 100%;
  font-size: 18px;
}

.channel-items-closed,
.channel-items-open {
  overflow: hidden;
}

.channel-items-closed {
  max-height: 0;
}

.channel-items-open {
  max-height: 900px;
}

.channel-list {
  width: 100%;
  margin-top: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}

.channel {
  @include dFlex($jc: start);
  margin-bottom: 25px;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  font-weight: 300;
  .channel-tag {
    @include iconButton(
      "/assets/img/icons/tag-black.svg",
      "/assets/img/icons/tag-black.svg"
    );
  }
  &:hover {
    font-weight: 600;
    color: $purple3;
    .channel-tag {
      @include iconButton(
        "/assets/img/icons/tag-blue.svg",
        "/assets/img/icons/tag-blue.svg"
      );
    }
    background-color: $bg-color;
    border-radius: 20px;
  }
}

.add-channel {
  @include dFlex($jc: start);
  gap: 10px;
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  font-weight: 200;
  .add-img {
    @include iconButton(
      "/assets/img/buttons/add_circle-black.svg",
      "/assets/img/buttons/add_circle-blue.svg"
    );
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: $purple3;
    .add-img {
      @include iconButton(
        "/assets/img/buttons/add_circle-blue.svg",
        "/assets/img/buttons/add_circle-blue.svg"
      );
      width: 24px;
      height: 24px;
    }
  }
}

.channel.selected {
  background-color: $bg-color;
  color: $purple3;
  border-radius: 20px;
  .channel-tag {
    @include iconButton(
      "/assets/img/icons/tag-blue.svg",
      "/assets/img/icons/tag-blue.svg"
    );
  }
  font-weight: 600;
}
