@import "global.scss";

section {
  min-height: 100vh;
  background-color: $bg-color;
}

.logo-container {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 243px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  img {
    width: 100%;
    height: auto;
  }
}

.sign-in {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.auth-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 606px;
  height: 769px;

  background-color: white;
  border-radius: 30px;
}

.link {
  font-family: "Figtree";
  color: $purple1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.sign-in {
  h4 {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.background-fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: $purple1;
  animation: opacity-fade 2s ease-in-out;
  z-index: 10;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.logo-animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  animation: moving-to-target 1.5s ease-in-out forwards;
  display: flex;
  align-items: center;
}

.login-logo-animated {
  width: 186.98px;
  height: 184px;
}

.logo-text {
  font-size: 6em;
  color: white;
  font-weight: 700;
  animation: opacity-fade 1s ease-in-out;
  animation: color-change 2s ease-in-out;
}

@keyframes moving-to-target {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    top: -30px;
    left: -170px;
    transform: translate(0, 0) scale(0.4);
  }
}

@keyframes opacity-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes color-change {
  from {
    color: white;
  }

  to {
    color: black;
    transform: translate(0, 0) scale(0.75);
  }
}
