<section class="authentication">
  <div class="logo-container">
    <img src="assets/img/logo-long.svg" alt="logo" />
  </div>
  <div class="sign-in">
    <div>
      <h4>{{ authUIService.showSignup ? "" : "Neu bei DaBubble?" }}</h4>
    </div>

    <div (click)="authUIService.toggleSignup()" class="link">
      <span>{{ authUIService.showSignup ? "" : "Konto erstellen" }}</span>
    </div>
  </div>

  <div
    class="auth-wrapper"
    [ngStyle]="{
      height: authUIService.showResetPassword
        ? '469px'
        : authUIService.showSignup || authUIService.showAvatarSelection
        ? '669px'
        : '769px',
      width: authUIService.showResetPassword ? '698px' : '606px'
    }"
  >
    <app-login
      *ngIf="
        !authUIService.showSignup &&
        !authUIService.showAvatarSelection &&
        !authUIService.showResetPassword
      "
    ></app-login>
    <app-signup
      *ngIf="
        authUIService.showSignup &&
        !authUIService.showAvatarSelection &&
        !authUIService.showResetPassword
      "
    ></app-signup>
    <app-choose-avatar
      *ngIf="authUIService.showAvatarSelection"
    ></app-choose-avatar>
    <app-reset-password
      *ngIf="authUIService.showResetPassword"
    ></app-reset-password>
  </div>
</section>
