@import "global.scss";

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 46px;
  line-height: 55.2px;
  color: $purple1;
  margin-top: 50px;
}

h3 {
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.65px;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.authentication {
  min-height: 100vh;
  background-color: $bg-color;
  @include dFlex($jc: center);
}

.logo-container {
  position: absolute;
  width: 100%;
  max-width: 1800px;
  top: 30px;
  display: flex;
  align-items: center;
  img {
    width: 243px;
    height: auto;
    margin-left: 20px;
  }
}

.reset-password-container {
  width: 512px;
  margin: 0 auto;

  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: $text-grey;
    width: 100%;
    display: block;
  }

  .button-container {
    position: absolute;
    right: 105px;
    bottom: 40px;
  }
}

.sign-in {
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.sign-in-mobile {
  display: none;
}

.auth-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 606px;
  height: 769px;
  background-color: white;
  border-radius: 30px;
}

.link {
  font-family: "Figtree";
  color: $purple1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-top: 10px;
}

.background-fade {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: $purple1;
  z-index: 10;
}

.logo-animation-container {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 10;
  display: flex;
  align-items: center;
}

.login-logo-animated {
  width: 186.98px;
  height: 184px;
}

.logo-text {
  font-size: 6em;
  color: white;
  font-weight: 700;
  animation: opacity-fade 0.1s ease-in-out;
  margin-left: -190px;
  z-index: -1;
}

.login-mode,
.privacy-mode {
  height: 769px;
  width: 606px;
}

.signup-mode {
  height: 669px;
  width: 606px;
}

.avatar-mode {
  height: 669px;
  width: 606px;
}

.reset-password-mode {
  height: 469px;
  width: 698px;
}

.reset-link-mode {
  height: 423px;
  width: 692px;
}

.imprint-mode {
  height: 469px;
  width: 676px;
}

.privacy-mode {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $light-purple transparent;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 486px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 46px;

  .email-input,
  .password-input,
  .name-input {
    width: 500px;
    border-radius: 100px;
    height: 60px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    &:hover {
      border: 1px solid $text-grey;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }

  .input-focus-border {
    border: 1px solid $purple1 !important;
  }

  input {
    width: 420px;
    background-color: $bg-color;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
  }

  img {
    margin-left: 32px;
  }
}

.link-text {
  font-family: "Figtree" !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  color: $purple1;
}

.error-message {
  color: red;
  font-size: 14px;
  position: relative;
  width: 100%;
  left: 2%;

  p {
    position: absolute;
    top: -35px;
  }
}

.back-arrow-img {
  position: absolute;
  left: 32px;
  top: 45px;

  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/arrow_back-thin.svg",
    "/assets/img/buttons/arrow_back-bold.svg"
  );
}

.account-created-background {
  background-color: rgba(0, 0, 0, 0.419);
  width: 100%;
  height: 100%;
  position: absolute;
  @include dFlex();
  z-index: 999;
}

.account-created-popup {
  width: 450px;
  height: 120px;
  background-color: $purple1;
  color: white;
  @include dFlex();
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font-size: 32px;
}

.email-sent-popup {
  width: 400px;
  height: 120px;
  background-color: $purple1;
  color: white;
  @include dFlex();
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font-size: 32px;

  img {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }
}

.bottom-links {
  position: fixed;
  bottom: 15px;
  width: 100%;
  @include dFlex();

  .imprint {
    margin-right: 2%;
  }

  span {
    color: $purple2;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    &:hover {
      border: 1px solid $purple1;
      color: $purple1;
      font-weight: 500;
      border-radius: 50px;
    }
  }
}

.background-transparent {
  background-color: transparent !important;
  padding-right: 0 !important;
}

.move-to-target {
  animation: moving-to-target 0.7s ease-in-out forwards;
}

.move-left-target {
  animation: logo-move-left 0.3s ease-in-out forwards;
}

.move-to-top {
  animation: move-to-top 0.7s ease-in-out forwards;
}

.text-slide-in {
  animation: text-slide-in 0.3s ease-in-out forwards;
}

.typing-effect {
  animation: typing 0.3s steps(20, end) forwards;
}

.opacity-fade {
  animation: opacity-fade 0.8s ease-in-out;
}

@keyframes moving-to-target {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: (1);
  }

  to {
    top: -40px;
    left: -30px;
    transform: translate(0, 0) scale(0.4);
    opacity: (0);
  }
}

@keyframes move-to-top {
  from {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    top: 100px;
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@keyframes opacity-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes logo-move-left {
  from {
    transform: translateX(0);
    background-color: $purple1;
    padding-right: 7%;
  }
  to {
    transform: translateX(-200px);
    background-color: $purple1;
    padding-right: 7%;
  }
}

@keyframes logo-move-center {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}

@keyframes text-slide-in {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  25% {
    transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    transform: translateX(-20%);
    opacity: 0.1;
  }
  85% {
    transform: translateX(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .login-mode,
  .privacy-mode {
    height: 675px;
    width: 565px;
  }

  .signup-mode {
    height: 650px;
    width: 565px;
  }

  h2 {
    margin-top: 45px;
  }

  .inputs-container {
    margin-top: 40px;
    margin-bottom: 0px;

    .email-input,
    .password-input,
    .name-input {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 25px;
      }
    }
  }

  .logo-text {
    font-size: 4em;
  }

  #login-logo-animated {
    width: 100px;
    height: auto;
  }

  .logo-animation-container {
    left: 50%;
  }
}

@media (max-width: 800px) {
  .reset-link-mode,
  .reset-password-mode {
    height: 40%;
    width: 85%;
  }

  .imprint-mode {
    height: 55%;
    width: 85%;
  }

  .reset-password-container {
    @include dFlex($fd: column, $jc: center);
    width: 100%;

    h2 {
      margin-top: 30px !important;
      margin-bottom: 0 !important;
      font-size: 40px !important;
    }

    .inputs-container {
      margin-top: 40px;
    }

    .back-arrow-img {
      left: 18px;
      top: 37px;
    }

    .button-container {
      right: 25px;
      bottom: 25px;
    }
  }
}

@media (max-width: 650px) {
  .login-mode,
  .signup-mode,
  .privacy-mode {
    height: 530px;
    width: 85%;
  }

  .avatar-mode {
    height: 530px;
    width: 85%;
  }

  .reset-password-container {
    h2 {
      font-size: 30px !important;
      line-height: 32px;
      width: 70%;
    }
  }

  .logo-container {
    justify-content: center;
    left: unset;
    width: 100%;
    top: 0;
    height: 18vh;
    align-items: flex-end;
  }

  .sign-in {
    display: none;
  }

  .sign-in-mobile {
    position: fixed;
    bottom: 7%;
    width: 100%;
    @include dFlex($ai: center, $fd: column, $jc: flex-start);
  }

  h2 {
    margin-top: 30px;
    font-size: 37px;
  }

  h4 {
    font-size: 17px;
  }

  .inputs-container {
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;

    input {
      height: 48px;
      width: 100%;
      font-size: 16px;
    }

    .email-input,
    .password-input,
    .name-input {
      margin-bottom: 25px;
      width: 100%;
      height: 50px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  form {
    width: 85%;
  }

  .logo-text {
    font-size: 3em;
  }

  #login-logo-animated {
    width: 80px;
    height: auto;
  }

  .logo-animation-container {
    left: 55%;
  }

  .error-message {
    left: 5%;
    font-size: 12px;
    line-height: 15px;

    p {
      top: -25px;
    }
  }

  .link {
    border: 1px solid #444df2;
    color: #444df2;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 18px 7px 18px;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;

    &:hover {
      background-color: #444df2;
      color: white;
      filter: brightness(1.2);
    }
  }

  .inputs-container {
    input {
      margin-left: 15px;
    }

    img {
      margin-left: 20px;
    }
  }

  .back-arrow-img {
    left: 1%;
    top: 4%;
  }

  .email-sent-popup {
    width: 250px;
    height: 80px;

    font-size: 20px;

    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }
}

@media (max-width: 550px) {
  #login-logo-animated {
    width: 70px;
  }

  .logo-animation-container {
    left: 65%;
  }

  .logo-text {
    font-size: 2em;
    margin-left: -180px;
  }

  .inputs-container {
    img {
      width: 20px;
      height: 20px;
    }

    input {
      font-size: 15px;
    }
  }
}

@media (max-width: 450px) {
  .login-mode,
  .signup-mode,
  .privacy-mode {
    height: 500px;
  }

  .avatar-mode {
    height: 480px;
  }

  h2 {
    margin-top: 20px;
    font-size: 32px;
  }

  .link-text,
  .link,
  h4 {
    font-size: 16px;
  }

  .inputs-container {
    img {
      margin-left: 12px;
    }
    input {
      height: 43px;
      margin-left: 10px;
    }

    .email-input,
    .password-input,
    .name-input {
      height: 45px;
    }
  }

  .logo-container {
    img {
      width: 200px;
    }
  }

  .logo-animation-container {
    left: 70%;
  }

  .reset-password-container {
    .back-arrow-img {
      left: 10px;
      top: 15px;
    }

    h2 {
      font-size: 26px !important;
    }
  }
}

@media (max-height: 750px) {
  .signup-mode {
    height: 470px;
  }

  .reset-password-mode {
    height: 55%;
  }

  .logo-container {
    height: 15vh;
  }

  .login-mode,
  .privacy-mode {
    height: 485px;
  }

  .reset-link-mode {
    height: 50%;
  }

  h2 {
    margin-top: 15px;
  }

  .logo-container {
    img {
      width: 185px;
    }
  }
}

@media (max-height: 670px) {
  .logo-container {
    height: 13vh;
  }

  .login-mode,
  .privacy-mode {
    height: 475px;
  }

  h2 {
    margin-top: 10px;
  }

  h4 {
    font-size: 14px;
  }

  .inputs-container {
    margin-bottom: 0;
  }

  .line-container {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .sign-in-mobile {
    bottom: 5%;
  }

  .link {
    margin-top: 0;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
  }

  .bottom-links {
    font-size: 14px;
    bottom: 5px;

    span {
      padding: 2px 7px 2px 7px;
    }
  }
}
