<section class="authentication">
  <div
    class="account-created-background"
    *ngIf="
      this.authUIService.showAccountCreated || this.authUIService.showEmailSent
    "
  >
    <div
      *ngIf="this.authUIService.showAccountCreated"
      class="account-created-popup"
    >
      Konto erfolgreich erstellt!
    </div>

    <div *ngIf="this.authUIService.showEmailSent" class="email-sent-popup">
      <img src="assets/img/buttons/send_icon-white.svg" alt="send_icon" />
      E-Mail gesendet
    </div>
  </div>

  <div
    class="background-fade"
    [class.d-none]="removeLoginAnimation"
    #backgroundFade
  ></div>
  <div class="logo-center-container" [class.d-none]="removeLoginAnimation">
    <div class="logo-animation-container" #logoContainer>
      <img
        #logoImage
        id="login-logo-animated"
        src="assets/img/logo-short.svg"
        alt="logo-short"
      />
      <span class="logo-text d-none" #logoText>DABubble</span>
    </div>
  </div>

  <div class="logo-container d-none">
    <img src="assets/img/logo-long.svg" alt="logo" class="d-none" #mainLogo />
  </div>
  <div class="sign-in" *ngIf="currentModeClass === 'login-mode'">
    <div>
      <h4>Neu bei DaBubble?</h4>
    </div>

    <div
      (click)="navigateToSignup()"
      class="link"
      *ngIf="currentModeClass === 'login-mode'"
    >
      <span>Konto erstellen</span>
    </div>
  </div>

  <div class="auth-wrapper" [ngClass]="currentModeClass">
    <router-outlet></router-outlet>
  </div>
</section>
