<section class="authentication">
  <div
    class="background-fade"
    [class.d-none]="removeLoginAnimation"
    #backgroundFade
  ></div>
  <div class="logo-center-container" [class.d-none]="removeLoginAnimation">
    <div class="logo-animation-container" #logoContainer>
      <img
        #logoImage
        id="login-logo-animated"
        src="assets/img/logo-short.svg"
        alt="logo-short"
      />
      <span class="logo-text d-none" #logoText>DABubble</span>
    </div>
  </div>

  <div class="logo-container d-none">
    <img src="assets/img/logo-long.svg" alt="logo" class="d-none" #mainLogo />
  </div>
  <div class="sign-in" *ngIf="currentModeClass === 'login-mode'">
    <div>
      <h4>{{ isSignupRoute ? "" : "Neu bei DaBubble?" }}</h4>
    </div>

    <div (click)="navigateToSignup()" class="link">
      <span>{{ isSignupRoute ? "" : "Konto erstellen" }}</span>
    </div>
  </div>

  <div class="auth-wrapper" [ngClass]="currentModeClass">
    <router-outlet></router-outlet>
  </div>
</section>
