<section *ngIf="popUpVisible">
  <div class="pop-up-wrapper">
    <div class="header">
      <div class="font24-700">Profile</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="user-img">
      <img src="/assets/img/profile-img/Frederik-Beck.svg" alt="" />
    </div>
    <div class="user-name-wrapper">
      <div class="user-name">Fredirik Beck</div>
      <div class="user-status-wrapper">
        <div class="status-dot"></div>
        <div class="user-status">Abswesend</div>
      </div>
    </div>

    <div class="user-email-wrapper">
      <div class="email-wrapper-tittle">
        <img src="/assets/img/icons/mail-black.svg" alt="" />
        <div class="user-email-tittle">E-Mail-Adresse</div>
      </div>
      <div class="user-email">L8n8oexample.com</div>
    </div>
    <div class="dfc">
      <div class="send-message-btn primary-btn">
        <img src="/assets/img/icons/mode_comment.svg" alt="" />
        <div>Nachricht</div>
      </div>
    </div>
  </div>
  <div class="pop-up-shadow-sec-layer" (click)="closePopUp()"></div>
</section>
