@import "global.scss";

.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 486px;
  }
}

.check-box {
  max-width: 620px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #42526e;
  }
}

.check-box {
  .purple {
    font-family: "Figtree";
    color: $purple1;
  }
}

.privacy-policy {
  img {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    transition: filter 0.1s ease;

    &:hover {
      filter: brightness(10);
    }
  }
}
