@import "global.scss";

.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 486px;
  }
}
