<div
  #messageContainer
  *ngIf="messages.length > 0"
  class="message-container overflow-y-scroll"
>
  <div
    *ngFor="let message of messages; let i = index"
    [attr.id]="'message-' + message.id"
    class="message"
  >
    <div
      class="daily-divider"
      *ngIf="
        isNewDay(
          i > 0 ? getTimestamp(messages[i - 1].time) : undefined,
          getTimestamp(message.time)
        )
      "
    >
      <div class="daily-divider-line">
        <div class="daily-divider-date">
          {{ message.time | firebaseDate }}
        </div>
      </div>

      <!-- {{ message.time | firebaseTime }} -->
    </div>
    <app-message
      (messageToEdit)="setEditMessage($event)"
      [message]="message"
      [showThread]="showThread"
    ></app-message>
  </div>
</div>
