@import "global.scss";
section {
  width: 100%;
  @include dFlex($fd: column, $jc: start);
  gap: 13px;
}

.member {
  @include dFlex($jc: start);
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 15px;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 20px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &:hover {
    background-color: $bg-color;
    border-radius: 35px;
  }
}

.img-wrapper {
  position: relative;
}

.dot-offline {
  @include statusDot("offline", 14px);
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.dot-online {
  @include statusDot("online", 14px);
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.user-name-mail {
  @include dFlex($fd: column, $ai: start);
  gap: 5px;
}

.name-wrapper {
  @include dFlex();
  gap: 10px;
}

.email {
  font-size: 14px;
  font-weight: 400;
  color: $purple2;
}
