@import "global.scss";
@import "../authentication.component.scss";

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.line-container {
  margin-top: 33px;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.buttons-container {
  .primary-btn {
    margin-right: 30px;
  }
}

.google-btn {
  width: 500px;
  border-radius: 100px;
  height: 60px;
  background-color: $bg-color;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: $purple1;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

  img {
    margin-right: 20px;
  }

  &:hover {
    border: 1px solid $purple1;
    font-weight: 700;
  }
}

.gray-line {
  width: 200px;
  height: 1px;
  border-bottom: 1px solid $light-purple;
}

.link-text {
  padding: 5px 10px 5px 10px;
  &:hover {
    border-radius: 50px;
    background-color: $bg-color;
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .line-container {
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .google-btn {
    margin-bottom: 33px;
  }
}

@media (max-width: 650px) {
  .google-btn {
    width: 103%;
    margin-bottom: 20px;
    height: 48px;
    font-size: 16px;
  }

  .line-container {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
  }

  .gray-line {
    width: 170px;
  }

  .buttons-container .primary-btn {
    margin-right: 15px;
  }
}

@media (max-width: 450px) {
  .google-btn {
    height: 45px;
  }
}

@media (max-height: 770px) {
  .line-container {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
