@import "./../../../shared/global.scss";

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 486px;
  }
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  margin-bottom: 15px;

  .email-input,
  .password-input {
    width: 500px;
    border-radius: 100px;
    height: 60px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-sizing: border-box;
  }

  .input-focus-border {
    border: 1px solid $purple1;
  }

  input {
    width: 420px;
    background-color: $bg-color;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    height: 50px;
    margin-left: 30px;
  }

  mat-icon {
    margin-left: 32px;
    color: $text-grey;
  }
}

.line-container {
  margin-top: 33px;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
  }
}

.buttons-container {
  .purple-btn {
    margin-right: 30px;
  }
}

.google-btn {
  min-width: 500px;
  border-radius: 100px;
  min-height: 60px;
  background-color: $bg-color;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: $purple1;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;

  img {
    margin-right: 20px;
  }

  &:hover {
    border: 1px solid $purple1;
    font-weight: 700;
  }
}

.gray-line {
  width: 200px;
  height: 1px;
  border-bottom: 1px solid $light-purple;
}

.error-message {
  color: red;
  font-size: 14px;
  position: relative;

  p {
    position: absolute;
    top: -30px;
  }
}
