<!-- login.component.html -->
<div class="login-container">
  <form (submit)="onLogin($event)" #loginForm="ngForm">
    <h2>Anmeldung</h2>
    <h4>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </h4>
    <!-- Email Input -->
    <div class="inputs-container">
      <div
        class="email-input"
        [class.input-focus-border]="focusService.focused['email']"
      >
        <img src="assets/img/icons/mail-grey.svg" alt="mail" />
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
          email
          #email="ngModel"
          placeholder="beispielname@email.com"
          (focus)="focusService.onFocus('email')"
          (blur)="focusService.onBlur('email')"
        />
      </div>
      <div *ngIf="email.invalid && email.touched" class="error-message">
        <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
      </div>

      <!-- Password Input -->
      <div
        class="password-input"
        [class.input-focus-border]="focusService.focused['password']"
      >
        <img src="assets/img/icons/lock-grey.svg" alt="lock" />
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Passwort"
          (focus)="focusService.onFocus('password')"
          (blur)="focusService.onBlur('password')"
        />
      </div>

      <div *ngIf="password.invalid && password.touched" class="error-message">
        <p>Falsches Passwort oder E-Mail. Bitto noch einmal versuchen.</p>
      </div>
    </div>

    <a class="link-text" href="">Passwort vergessen?</a>

    <div class="line-container">
      <div class="gray-line"></div>
      ODER
      <div class="gray-line"></div>
    </div>

    <button class="google-btn">
      <img src="assets/img/icons/google_login.svg" alt="" />
      Anmelden mit Google
    </button>

    <!-- Buttons -->
    <div class="buttons-container">
      <button class="purple-btn" mat-flat-button>Anmelden</button>
      <button class="white-btn" (click)="guestLogin()" mat-stroked-button>
        Gäste-Login
      </button>
    </div>
  </form>
</div>
