<!-- login.component.html -->
<div class="login-container">
  <form (submit)="onLogin($event)" #loginForm="ngForm">
    <h2>Anmeldung</h2>
    <h4>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </h4>
    <!-- Email Input -->
    <div class="inputs-container">
      <mat-icon class="material-icons-outlined">email</mat-icon>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
        email
        #email="ngModel"
        class="form-control"
        placeholder="beispielname@email.com"
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        Diese E-Mail-Adresse ist leider ungültig.
      </div>

      <!-- Password Input -->
      <mat-icon class="material-icons-outlined">lock</mat-icon>

      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
        #password="ngModel"
        class="form-control"
        placeholder="Passwort"
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        Falsches Passwort oder E-Mail. Bitto noch einmal versuchen.
      </div>
    </div>

    <a class="link-text" href="">Passwort vergessen?</a>

    <div class="line-container">
      <div class="gray-line"></div>
      ODER
      <div class="gray-line"></div>
    </div>

    <button class="google-btn">Anmelden mit Google</button>

    <!-- Buttons -->
    <div class="buttons-container">
      <button type="" [disabled]="loginForm.invalid" class="primary-btn">
        Anmelden
      </button>

      <button class="secondary-btn" (click)="guestLogin()">Gäste-Login</button>
    </div>
  </form>
</div>
