@import "global.scss";
section {
  @include dFlex($fd: column);
  width: 100%;
  height: calc(100vh - 140px);
  padding-bottom: 40px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  min-height: 110px;

  @include dFlex($jc: space-between);
  padding: 0px 30px;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px -5px #00000014;
}

.header-left {
  @include dFlex();
  gap: 5px;
}

.header-tittle {
  font-size: 24px;
  font-weight: 700;
}

.thread-source-tag {
  @include dFlex();
  height: auto;
  padding: 0 5px;
  img {
    width: 16px;
    height: 16px;
  }
}

.thread-source-title {
  font-size: 14px;
  font-weight: 400;
  color: $purple2;
}

.message-container {
  @include dFlex();
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}

.message-container {
  @include dFlex($fd: column, $jc: start);
  max-height: 100%;
  width: 100%;
  flex-grow: 1;
  padding-top: 24px;
}

.message {
  width: 100%;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}

.header-right {
  @include dFlex();
  gap: 10px;
}

.close-button {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/close-black.svg",
    "/assets/img/buttons/close-blue.svg"
  );
}

.origin-message {
  width: 100%;
}

.message-divider {
  @include dFlex();
  width: 100%;
  gap: 20px;
  padding: 0px 30px;
}

.message-divider-text {
  @include dFlex();
  width: fit-content;
  color: $light-purple;
  font-size: 18px;
  font-weight: 400;
}

.message-divider-line {
  flex: 1;
  height: 1px;
  background-color: $light-purple;
}

@media (max-width: 960px) {
  section {
    padding-bottom: 0;
    height: calc(100vh - 120px);
  }
}

@media (max-width: 550px) {
  .header {
    min-height: 60px;
    padding: 0 20px;
  }

  .header-tittle {
    font-size: 20px;
  }

  section {
    height: calc(100vh - 100px);
  }
}
