<section *ngIf="popUpVisible">
  <div class="pop-up-wrapper">
    <div class="tittle-closse">
      <div class="font24-700"># {{ (channelData$ | async)?.name }}</div>
      <div class="close-button" (click)="closeEditChannelPopUp()"></div>
    </div>
    <div
      class="edit-wrapper"
      ngClass="{{ editNameActive ? 'edit-wrapper-no-border' : '' }}"
    >
      <div class="inner-tittle-wrapper">
        <div class="font18-700">Channel-Name</div>
        <div
          *ngIf="!editNameActive"
          class="purple3-btn"
          (click)="toggleEditName()"
        >
          <span class="edit-text">Bearbeiten</span>
        </div>
        <img
          class="edit-btn"
          [src]="
            editNameActive
              ? 'assets/img/buttons/check_circle-black.svg'
              : 'assets/img/buttons/edit-black.svg'
          "
          alt="edit-img"
          (click)="toggleEditName()"
        />
        <div
          (click)="toggleEditName(); saveChanges()"
          *ngIf="editNameActive"
          class="purple3-btn"
        >
          <span class="edit-text">Speichern</span>
        </div>
      </div>
      <div
        ngClass="{{ editNameActive ? '' : 'no-border' }}"
        class="pop-up-input"
      >
        <img src="assets/img/icons/tag-grey.svg" alt="" />
        <input
          *ngIf="editNameActive"
          placeholder="z.B Kooperationsprojekte"
          type="text"
          [(ngModel)]="channelData.name"
        />
        <div *ngIf="!editNameActive">{{ (channelData$ | async)?.name }}</div>
      </div>
    </div>

    <div
      class="edit-wrapper"
      ngClass="{{ editDescriptionActive ? 'edit-wrapper-no-border' : '' }}"
    >
      <div class="inner-tittle-wrapper">
        <div class="font18-700">Beschreibung</div>
        <div
          *ngIf="!editDescriptionActive"
          class="purple3-btn"
          (click)="toggleEditDescription()"
        >
          <span class="edit-text">Bearbeiten</span>
        </div>
        <img
          class="edit-btn"
          [src]="
            editNameActive
              ? 'assets/img/buttons/check_circle-black.svg'
              : 'assets/img/buttons/edit-black.svg'
          "
          alt="edit-img"
          (click)="toggleEditDescription()"
        />

        <div
          (click)="toggleEditDescription(); saveChanges()"
          *ngIf="editDescriptionActive"
          class="purple3-btn"
        >
          <span class="edit-text">Speichern</span>
        </div>
      </div>

      <div
        ngClass="{{ editDescriptionActive ? '' : 'no-border' }}"
        class="pop-up-input"
      >
        <img src="assets/img/icons/tag-grey.svg" alt="" />
        <input
          *ngIf="editDescriptionActive"
          placeholder="dein Text hier"
          type="text"
          [(ngModel)]="channelData.description"
        />
        <div *ngIf="!editDescriptionActive">
          {{ (channelData$ | async)?.description }}
        </div>
      </div>
      <div class="separator-line"></div>
      <div class="creator-wrapper">
        <div class="font18-700">Erstellt von</div>
        <div class="creator-name">{{ (channelCreator$ | async)?.name }}</div>
      </div>
    </div>
    <div class="edit-wrapper member-list">
      <div class="font24-700">Mitglieder</div>
      <app-user-list
        class="user-list"
        [usersUid]="channelData.uid"
        (selectedUser)="onUserSelected($event)"
      ></app-user-list>
      <div class="add-member" (click)="openAddUserToChannelPopUp()">
        <div class="add-person-icon"></div>
        <div class="font18-400">Mitglieder hinzufügen</div>
      </div>
    </div>

    <div class="btn-wrapper">
      <div class="primary-btn" (click)="leaveChannel()">Channel verlassen</div>
    </div>
  </div>
  <div class="pop-up-shadow" (click)="closeEditChannelPopUp()"></div>
</section>
