<!-- signup.component.html -->
<div class="signup-container">
  <div class="back-arrow-img" (click)="authUIService.toggleSignup()"></div>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Konto erstellen</h2>
    <h4>
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </h4>
    <div class="inputs-container">
      <!-- Name Input -->
      <div
        class="name-input"
        [class.input-focus-border]="authUIService.focused['name']"
      >
        <img src="assets/img/icons/person-grey.svg" alt="person" />
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="user.name"
          required
          #name="ngModel"
          placeholder="Name und Nachname"
          (focus)="authUIService.onFocus('name')"
          (blur)="authUIService.onBlur('name')"
        />
      </div>
      <div *ngIf="name.invalid && name.touched" class="error-message">
        <p>Bitte schreiben Sie einen Namen.</p>
      </div>

      <!-- Email Input -->
      <div
        class="email-input"
        [class.input-focus-border]="authUIService.focused['email']"
      >
        <img src="assets/img/icons/mail-grey.svg" alt="mail" />
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
          email
          #email="ngModel"
          placeholder="beispielname@email.com"
          (focus)="authUIService.onFocus('email')"
          (blur)="authUIService.onBlur('email')"
        />
      </div>
      <div *ngIf="email.invalid && email.touched" class="error-message">
        <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
      </div>

      <div *ngIf="isEmailAlreadyUsed" class="error-message">
        <p>*Diese E-Mail-Adresse wird bereits verwendet</p>
      </div>

      <!-- Password Input -->
      <div
        class="password-input"
        [class.input-focus-border]="authUIService.focused['password']"
      >
        <img src="assets/img/icons/lock-grey.svg" alt="lock" />
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Passwort"
          (focus)="authUIService.onFocus('password')"
          (blur)="authUIService.onBlur('password')"
        />
      </div>

      <div *ngIf="password.invalid && password.touched" class="error-message">
        <p>Bitte geben Sie ein Password ein.</p>
      </div>
    </div>
    <div class="privacy-policy">
      <div class="check-box" (click)="authUIService.toggleCheckbox()">
        <div
          class="check-box-img"
          [ngClass]="{
            checked: authUIService.isChecked,
            unchecked: !authUIService.isChecked
          }"
        ></div>
        <span>
          Ich stimme der
          <a href="/">
            <span class="purple">Datenschutzerklärung</span>
          </a>
          zu.
        </span>
      </div>

      <div class="button-container">
        <button
          class="primary-btn"
          [disabled]="!signupForm.valid || !authUIService.isChecked"
          type="submit"
        >
          Weiter
        </button>
      </div>
    </div>
  </form>
</div>
