<section>
  <div class="header">
    <div class="font24-700">Neue Nachricht</div>
    <div class="input-wrapper">
      <input
        [(ngModel)]="inputValue"
        (input)="search()"
        (blur)="onFocusOut()"
        placeholder="An: #channel, @jemand, oder E-Mail Adresse"
        type="text"
        class="search-input"
      />
      <app-user-list
        *ngIf="filteredUsers.length > 0 && showResults"
        (mouseleave)="closeSearchResults()"
        class="search-result-list overflow-y-scroll"
        [usersUid]="filteredUsers"
        (selectedUser)="onUserSelected($event)"
        [showEmail]="true"
      ></app-user-list>
      <app-channels-list
        *ngIf="filteredChannels.length > 0 && showResults"
        (mouseleave)="closeSearchResults()"
        class="search-result-list overflow-y-scroll"
        [channelsInput]="filteredChannels"
        (selectedChannel)="onChannelSelected($event)"
      ></app-channels-list>
    </div>
  </div>

  <div class="message-container"></div>
  <app-input-box
    [messagePath]="messagePath"
    [receiverId]="selectedUserId"
    [showMentionButton]="false"
    [space]="'new chat'"
  ></app-input-box>
</section>
