@import "global.scss";
section {
  box-sizing: border-box;
  @include dFlex($fd: column);
  width: 100%;
  height: calc(100vh - 140px);
  padding-bottom: 40px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 160px;
  padding: 32px 45px 20px 45px;
  gap: 20px;
  @include dFlex($fd: column, $ai: start);
  box-shadow: 0px 10px 10px -5px #00000014;
}

.message-container {
  @include dFlex();
  width: 100%;
  flex-grow: 1;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}

.input-wrapper {
  @include dFlex();
  width: 100%;
  border: 1px solid $light-purple;
  border-radius: 30px;
  padding: 15px 20px;
  input {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
  }
}
