<section>
  <div class="header">
    <div class="font24-700">Neue Nachricht</div>
    <div class="input-wrapper">
      <div class="search-input-wrapper">
        <div *ngIf="selectedUserPhotoURL" class="selected-photo-container">
          <img
            [src]="selectedUserPhotoURL"
            alt="User Avatar"
            class="selected-photo"
          />
        </div>
        <input
          #searchInput
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
          (keydown)="onKeyDown($event)"
          placeholder="An: #channel, @jemand, oder E-Mail Adresse"
          type="text"
          [disabled]="isSelected"
        />
        <button
          *ngIf="isSelected"
          class="clear-button"
          (click)="clearSearchState()"
          aria-label="Clear Selection"
        >
          ✕
        </button>
      </div>
      <div *ngIf="searchResults.length > 0" class="search-results-container">
        <div
          *ngFor="let result of searchResults; let i = index"
          class="search-result-item"
          [class.active]="i === selectedIndex"
          role="option"
          (click)="onSelectResult(result)"
          (keydown.enter)="onSelectResult(result)"
          tabindex="0"
        >
          <div
            *ngIf="result.name && result.email"
            class="results-info-container"
          >
            <img
              *ngIf="result.photoURL"
              [src]="result.photoURL"
              alt="{{ result.name }}"
              class="user-profile-image"
            />
            <span>{{ result.name }}</span>
          </div>

          <p *ngIf="result.name && !result.email">{{ result.name }}</p>

          <p *ngIf="result.email">{{ result.email }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="message-container">nachrichten</div>
  <app-input-box
    [messagePath]="messagePath"
    [receiverId]="selectedUserId"
    (messageSent)="onMessageSent()"
  ></app-input-box>
</section>
