@import "global.scss";
section {
  @include dFlex($fd: column);
  padding: 30px;
  box-sizing: border-box;
}

.header {
  @include dFlex($jc: space-between);
  width: 100%;
  height: max-content;
}

.logo-container {
  gap: 15px;
  @include dFlex();
  .logo-name {
    font-size: 24px;
    font-weight: 700;
  }
  .logo-img {
    width: 60px;
    height: auto;
  }
}

.new-mgs-button {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/edit_square-black.svg",
    "/assets/img/buttons/edit_square-blue.svg"
  );
}

app-channel-list {
  flex-grow: 1;
}

app-chat-list {
  flex-grow: 1;
  height: 50%;
  background-color: skyblue;
}
