@import "global.scss";
section {
  position: relative;
  @include dFlex($fd: column);
  padding: 10px 30px 30px 30px;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0px;
  @include dFlex($jc: space-between);
  width: 100%;
  height: max-content;
  z-index: 5;
  background-color: white;
  padding-top: 20px;
  //box-shadow: 0px 0px 230px 0px rgb(125, 49, 247);
}

.logo-container {
  gap: 15px;
  @include dFlex();
  .logo-name {
    font-size: 24px;
    font-weight: 700;
  }
  .logo-img {
    width: 60px;
    height: auto;
  }
}

.new-mgs-button {
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/edit_square-black.svg",
    "/assets/img/buttons/edit_square-blue.svg"
  );
}

app-channel-list {
  flex-grow: 1;
}

app-chat-list {
  flex-grow: 1;
  height: 50%;
}
