@import "./../../../shared/global.scss";
section {
  padding: 30px;
  box-sizing: border-box;
}

.header {
  @include dFlex($jc: space-between);
  width: 100%;
  height: max-content;
}

.logo-container {
  gap: 15px;
  @include dFlex();
  .logo-name {
    font-size: 24px;
    font-weight: 700;
  }
  .logo-img {
    width: 60px;
    height: auto;
  }
}

.icon-btn {
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
  }
}

.new-mgs-button {
  @include iconButton(
    "/assets/img/buttons/edit_square-black.svg",
    "/assets/img/buttons/edit_square-blue.svg"
  );
}
