@import "global.scss";
@import "../authentication.component.scss";

.reset-link-text {
  margin-top: 15%;
}

@media (max-width: 800px) {
  h4 {
    margin-top: 10px;
  }

  .reset-password-container {
    .inputs-container {
      margin-top: 25px;

      .email-input {
        margin-bottom: 20px;
      }

      .error-message p {
        top: -15px;
      }
    }
  }
}

@media (max-width: 600px) {
  .reset-password-container {
    span {
      font-size: 18px;
    }

    h2 {
      margin-top: 20px !important;
    }
  }

  .reset-link-text {
    width: 90%;
    margin-top: 10%;

    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 450px) {
  .reset-password-container {
    span {
      font-size: 14px;
      line-height: 20px;
    }

    h4 {
      width: 90%;
    }

    .inputs-container {
      margin-top: 10px;
    }
  }
}
