<!-- reset-password.component.html -->
<div class="reset-password-container">
  <div class="back-arrow-img" (click)="authUIService.toggleLogin()"></div>

  <h2>Passwort zurücksetzen</h2>

  <h4>Bitte geben Sie Ihre E-Mail-Adresse ein.</h4>

  <!-- Email Input -->
  <div class="inputs-container">
    <form #resetPasswordForm="ngForm">
      <div
        class="email-input"
        [class.input-focus-border]="authUIService.focused['email']"
      >
        <img src="assets/img/icons/mail-grey.svg" alt="mail" />
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
          email
          #email="ngModel"
          placeholder="beispielname@email.com"
          (focus)="authUIService.onFocus('email')"
          (blur)="authUIService.onBlur('email')"
        />
      </div>
      <div *ngIf="email.invalid && email.touched" class="error-message">
        <p>*Diese E-Mail-Adresse ist leider ungültig.</p>
      </div>

      <span
        >Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
        können.</span
      >

      <div class="button-container">
        <button class="primary-btn" [disabled]="!resetPasswordForm.valid">
          E-Mail senden
        </button>
      </div>
    </form>
  </div>
</div>
