@import "global.scss";
@import "../authentication.component.scss";

.reset-link-text {
  margin-top: 15%;
}

@media (max-width: 800px) {
  h4 {
    margin-top: 10px;
  }
  .reset-password-container {
    .inputs-container {
      margin-top: 25px;
    }
  }
}

@media (max-width: 600px) {
  .reset-password-container {
    span {
      font-size: 18px;
    }
  }
}

@media (max-width: 450px) {
  .reset-password-container {
    span {
      font-size: 16px;
      line-height: 20px;
    }

    h4 {
      width: 90%;
    }

    .inputs-container {
      margin-top: 10px;
    }
  }
}
