@import "global.scss";

section {
  position: relative;
  width: 100%;
  @include dFlex();
  &:hover {
    background-color: $bg-color;
    .msg-text {
      background-color: white;
    }
    .reactions-menu {
      display: block;
    }
    .reactions-menu-own-message {
      display: block;
    }
  }
  padding: 30px 45px;
}

.msg-wrapper {
  width: 100%;
  @include dFlex($jc: start, $ai: start);
  gap: 30px;
}

.img-wrapper {
  min-width: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.msg-content {
  @include dFlex($fd: column, $ai: start);
  flex-grow: 1;
  gap: 8px;
}

.name-date-wrapper {
  width: 100%;
  @include dFlex($jc: start);
  gap: 20px;
}

.author-name {
  width: max-content;
  @include dFlex();
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    color: $purple3;
  }
}

.msg-date {
  font-size: 14px;
  font-weight: 400;
  color: $text-grey;
}

.msg-text {
  background-color: $bg-color;
  border-radius: 30px;
  border-top-left-radius: 0px;
  padding: 15px;
}

.msg-text-own-message {
  background-color: $purple2;
  border-radius: 30px;
  border-top-right-radius: 0px;
  padding: 15px;
  color: white;
}

.reactions-menu {
  position: absolute;
  right: 20px;
  top: -33px;
  display: none;
}

.reactions-menu-own-message {
  position: absolute;
  left: 45px;
  top: -23px;
  display: none;
}

.reactions-view {
  @include dFlex();
  gap: 10px;
}

.reaction {
  position: relative;
  @include dFlex();
  gap: 10px;
  background-color: white;
  cursor: pointer;
  border: solid 1px $light-purple;
  border-radius: 20px;
  padding: 5px 10px;
  &:hover {
    .reaction-authors {
      display: block;
    }
  }
}

.reaction-authors {
  @include dFlex();
  width: max-content;
  max-width: 170px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  background-color: transparent;
  display: none;
  background-color: $purple1;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  padding: 15px 10px;
  gap: 10px;
  color: white;
  z-index: 10;
  &:hover {
    display: none !important;
  }
}

.reaction-authors-emoji {
  @include dFlex();
  width: 100%;
  position: relative;
  transform: scale(2);
  margin-left: 7px;
}

.add-reaction-btn {
  position: relative;
  @include iconButtonWithHoverBackground(
    "/assets/img/buttons/add_reaction-black.svg",
    "/assets/img/buttons/add_reaction-blue.svg"
  );
  background-color: white;
  border-radius: 50%;
}

.emoji-picker {
  position: absolute;
  z-index: 4;
  top: 35px;
}

.reaction-author-name {
  width: 100%;
  @include dFlex($fd: column);
  font-size: 16px;
  font-weight: 700;
}

.fd-reverse {
  flex-direction: row-reverse;
}

.jc-end {
  justify-content: end;
}

.ai-end {
  align-items: end;
}

.thread-view {
  width: max-content;
  @include dFlex($ai: end, $jc: center);
  gap: 10px;
}

.thread-amount {
  font-size: 18px;
  font-weight: 400;
  color: $purple3;
  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.last-thread-response {
  font-size: 14px;
  font-weight: 400;
  color: $text-grey;
}

.purple-border {
  border: solid 2px $purple3;
  border-radius: 30px;
  padding: 10px 15px;
}

.cancel-edit {
  position: absolute;
  top: -3px;
  right: 50%;
  background-color: $purple3;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 8px;
  transform: translate(50%, 0);
  &:hover {
    cursor: pointer;
    background-color: $purple2;
  }
}
