<section>
  <div
    [ngClass]="{ 'fd-reverse': message.author === loggedInUserId }"
    (mouseleave)="closeEmojiPicker()"
    class="msg-wrapper"
    *ngIf="author$ | async as author"
  >
    <div class="img-wrapper">
      <img src="{{ (author$ | async)?.photoURL }}" alt="" />
    </div>
    <div
      class="msg-content"
      [ngClass]="{ 'ai-end': message.author === loggedInUserId }"
    >
      <div
        class="name-date-wrapper"
        [ngClass]="{ 'fd-reverse jc-end': message.author === loggedInUserId }"
      >
        <div class="author-name" (click)="openAuthorProfile(author.uid)">
          {{ (author$ | async)?.name }}
        </div>
        <div class="msg-date">{{ message.time | firebaseTime }} Uhr</div>
      </div>
      <div
        [ngClass]="
          message.author === loggedInUserId
            ? 'msg-text-own-message'
            : 'msg-text'
        "
      >
        {{ message.value.text }}
      </div>
      <div *ngIf="threadMessages.length > 0" class="thread-view">
        <div class="thread-amount" (click)="openThread()">
          {{ threadMessages.length }} Antworten
        </div>
        <div *ngIf="lastThreadMessage" class="last-thread-response">
          Letzte Antwort {{ lastThreadMessage.time | firebaseTime }}
        </div>
      </div>
      <div class="reactions-view" *ngIf="message.reactions.length >= 1">
        <div
          *ngFor="let reaction of message.reactions"
          class="reaction"
          (click)="onEmojiSelected(reaction.value)"
        >
          <div class="emoji">{{ reaction.value }}</div>
          <div class="amount">{{ reaction.authors.length }}</div>
          <div class="reaction-authors">
            <div class="reaction-authors-emoji">{{ reaction.value }}</div>
            <ng-container *ngIf="reaction.authors.length > 0">
              <ng-container
                *ngIf="
                  getAuthorName(reaction.authors[0]) | async as firstAuthorName
                "
              >
                <div class="reaction-author-name">
                  {{ firstAuthorName }}
                  <div class="more-users" *ngIf="reaction.authors.length > 1">
                    +{{ reaction.authors.length - 1 }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="reaction.authors.length < 2" class="font16-400 dfc">
              hat reagiert
            </div>
            <div *ngIf="reaction.authors.length >= 2" class="font16-400 dfc">
              haben reagiert
            </div>
          </div>
        </div>
        <div class="add-reaction-btn" (click)="toggleEmojiPicker()">
          <app-emoji-picker
            (emojiSelected)="onEmojiSelected($event)"
            (mouseleave)="showEmojiPicker = false"
            *ngIf="showEmojiPicker"
            class="emoji-picker"
          ></app-emoji-picker>
        </div>
      </div>
    </div>
  </div>
  <app-reactions-menu
    (messageToEdit)="setMessageToEdit($event)"
    [showThread]="showThread"
    [lastTwoReactions]="lastTwoReactions"
    [message]="message"
    [ownMessage]="message.author === loggedInUserId"
    [ngClass]="
      message.author === loggedInUserId
        ? 'reactions-menu-own-message'
        : 'reactions-menu'
    "
  ></app-reactions-menu>
</section>
