<!-- choose-avatar.component.html -->
<div class="choose-avatar-container">
  <div class="back-arrow-img" (click)="authUIService.toggleSignup()"></div>
  <form #chooseAvatarForm="ngForm" (ngSubmit)="uploadCareService.saveAvatar()">
    <h2>Wähle deinen Avatar</h2>
    <img
      [src]="
        uploadCareService.selectedPhoto ||
        'assets/img/profile-img/profile-img-placeholder.svg'
      "
      alt="profile-img-placeholder"
      class="profile-img-preview"
    />

    <h3>{{ uploadCareService.userData()?.name }}</h3>

    <h4 class="list-text">Aus der liste wählen.</h4>
    <div class="photos-container">
      <div class="photos" *ngFor="let photo of photos">
        <img
          [src]="photo"
          class="choose-avatar"
          alt="choose-avatar"
          (click)="uploadCareService.selectPhoto(photo)"
        />
      </div>
    </div>
    <div class="upload-button">
      <h4>eigenes Bild verwenden</h4>
      <button class="secondary-btn" (click)="fileInput.click()">
        Datei hochladen
      </button>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="uploadCareService.onFileSelected($event)"
      />
    </div>

    <div *ngIf="uploadCareService.isUploadedPhoto" class="uploading-container">
      <p>
        {{ uploadCareService.uploadedPhotoName | slice : 0 : 10
        }}{{
          (uploadCareService.uploadedPhotoName ?? "").length > 10 ? "..." : ""
        }}
      </p>

      <div
        class="uploading"
        *ngIf="
          uploadCareService.isUploading || uploadCareService.uploadComplete
        "
      >
        <div
          class="loader"
          [class.complete]="uploadCareService.uploadComplete"
        ></div>

        <button
          *ngIf="uploadCareService.uploadComplete"
          (click)="uploadCareService.eraseUploadedPhoto()"
        >
          X
        </button>
      </div>
    </div>
    <p
      *ngIf="uploadCareService.uploadErrorMessage"
      class="error-message"
      style="margin-top: 10px; width: 100%"
    >
      {{ uploadCareService.uploadErrorMessage }}
    </p>
    <div class="button-container">
      <button
        class="primary-btn"
        type="submit"
        [disabled]="!canProceed()"
        [routerLink]="['/dashboard']"
      >
        Weiter
      </button>
    </div>
  </form>
</div>
