<!-- choose-avatar.component.html -->
<div class="choose-avatar-container">
  <div class="back-arrow-img" (click)="authUIService.toggleSignup()"></div>
  <form #chooseAvatarForm="ngForm" (ngSubmit)="saveAvatar()">
    <h2>Wähle deinen Avatar</h2>
    <img
      [src]="
        selectedPhoto || 'assets/img/profile-img/profile-img-placeholder.svg'
      "
      alt="profile-img-placeholder"
      class="profile-img-preview"
    />

    <h3>{{ userData()?.name }}</h3>

    <h4 class="list-text">Aus der liste wählen.</h4>
    <div class="photos-container">
      <div class="photos" *ngFor="let photo of photos">
        <img
          [src]="photo"
          class="choose-avatar"
          alt="choose-avatar"
          (click)="selectPhoto(photo)"
        />
      </div>
    </div>
    <div class="upload-button">
      <h4>eigenes Bild verwenden</h4>
      <button class="secondary-btn" (click)="fileInput.click()">
        Datei hochladen
      </button>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="onFileSelected($event)"
      />
    </div>

    <div *ngIf="isUploadedPhoto" class="uploading-container">
      <p>
        {{ uploadedPhotoName | slice : 0 : 10
        }}{{ (uploadedPhotoName ?? "").length > 10 ? "..." : "" }}
      </p>

      <div class="uploading">
        <div
          *ngIf="isUploading || uploadComplete"
          class="loader"
          [class.complete]="uploadComplete"
        ></div>

        <button *ngIf="uploadComplete" (click)="eraseUploadedPhoto()">X</button>
      </div>
    </div>
    <p
      *ngIf="uploadErrorMessage"
      class="error-message"
      style="margin-top: 10px; width: 100%"
    >
      {{ uploadErrorMessage }}
    </p>
    <div class="button-container">
      <button class="primary-btn" type="submit" [disabled]="!canProceed()">
        Weiter
      </button>
    </div>
  </form>
</div>
