<div class="choose-avatar-container">
  <div class="back-arrow-img" (click)="navigateToSignup()"></div>
  <form #chooseAvatarForm="ngForm" (ngSubmit)="uploadCareService.saveAvatar()">
    <h2>Wähle deinen Avatar</h2>
    <div class="spinner-container" *ngIf="uploadCareService.isUploading">
      <img
        src="assets/img/loading-spinner.gif"
        alt="Loading..."
        class="loading-spinner"
      />
    </div>
    <img
      *ngIf="!uploadCareService.isUploading"
      [src]="
        uploadCareService.selectedPhoto ||
        'assets/img/profile-img/profile-img-placeholder.svg'
      "
      alt="profile-img-placeholder"
      class="profile-img-preview"
    />

    <h3>{{ uploadCareService.userData()?.name }}</h3>

    <h4 class="list-text">Aus der liste wählen.</h4>
    <div class="photos-container">
      <div class="photos" *ngFor="let photo of photos">
        <img
          [src]="photo"
          class="choose-avatar"
          alt="choose-avatar"
          (click)="uploadCareService.selectPhoto(photo)"
        />
      </div>
    </div>

    <p
      *ngIf="uploadCareService.uploadErrorMessage"
      class="error-message"
      style="margin-top: 10px; width: 100%"
    >
      {{ uploadCareService.uploadErrorMessage }}
    </p>
    <div class="button-container">
      <button
        class="primary-btn"
        type="submit"
        [disabled]="!canProceed()"
        (click)="signUpSuccess()"
      >
        Weiter
      </button>
    </div>
  </form>
</div>
