<section>
  <div class="inner-section">
    <app-header></app-header>
    <div class="main-container">
      <div (click)="toggleWorkspace(); changeText()" class="workspace-menu-btn">
        <div>{{ workspaceButtonText }}</div>
        <div
          [ngClass]="{
            'workspace-open-img': !workSpaceOpen,
            'workspace-close-img': workSpaceOpen
          }"
        ></div>
      </div>
      <app-left-side-component
        [ngClass]="{
          'width-0': !workSpaceOpen,

        }"
      ></app-left-side-component>
      <app-main-workspace> </app-main-workspace>
      <app-right-side-container></app-right-side-container>
    </div>
  </div>
  <div class="pop-up-wrapper">
    <app-add-channel
      *ngIf="popUpStates['addChannel']"
      class="pop-up-center"
    ></app-add-channel>
    <app-add-user-to-channel
      *ngIf="popUpStates['addUserToChannel']"
    ></app-add-user-to-channel>
    <app-edit-channel
      *ngIf="popUpStates['editChannel']"
      class="pop-up-center"
    ></app-edit-channel>
    <app-own-profile-edit
      *ngIf="popUpStates['ownProfileEdit']"
    ></app-own-profile-edit>
    <app-own-profile-view
      class="own-profile-view"
      *ngIf="popUpStates['ownProfileView']"
    ></app-own-profile-view>
    <app-profile-view
      *ngIf="popUpStates['profileView']"
      class="pop-up-center"
    ></app-profile-view>
    <app-user-menu
      *ngIf="popUpStates['userMenu']"
      class="pop-up-user-menu"
    ></app-user-menu>
  </div>
  <app-pop-up *ngIf="popUpStates['popUpShadow']"></app-pop-up>
</section>
