@import "./../../shared/global.scss";
section {
  @include dFlex();
  height: 100vh;
  width: 100%;
}

app-header {
  width: 100%;
}

.inner-section {
  @include dFlex();
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1980px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 20px;
  box-sizing: border-box;
  background-color: $bg-color;
  z-index: auto;
}

.pop-up-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  max-width: 1980px;
  z-index: 999;
  pointer-events: none;

  * {
    pointer-events: all;
  }
}

p {
  margin: 0;
}

.main-container {
  position: relative;
  display: flex;
  gap: 20px;
  z-index: auto;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: $bg-color;

  .left-side-component {
    width: 366px;
    background-color: white;
    border-radius: 30px;
    max-height: calc(100vh - 140px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: all 0.175s ease-in-out;
  }

  app-left-side-component::-webkit-scrollbar {
    display: none;
  }
  .main-workspace {
    flex: 1;
    background-color: white;
    border-radius: 30px;
    max-height: 100%;
    z-index: auto;
  }

  .right-side-component {
    width: 485px;
    background-color: white;
    border-radius: 30px;
    max-height: calc(100vh - 140px);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: all 0.175s ease-in-out;
  }
}

.workspace-menu-btn {
  position: absolute;
  border: none;
  top: 70vh;
  left: -20px;
  display: flex;
  gap: 10px;
  padding: 14px 23px;
  z-index: 2;
  cursor: pointer;
  transform: rotate(-90deg) translateY(50%);
  transform-origin: left center;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 4px 4px 7px 0px #00000033;
  &:hover {
    color: $purple3;

    .workspace-open-img {
      @include iconButton(
        "/assets/img/buttons/show-navigation-blue.svg",
        "/assets/img/buttons/show-navigation-blue.svg"
      );
      width: 30px;
      height: 30px;
    }

    .workspace-close-img {
      @include iconButton(
        "/assets/img/buttons/hide-navigation-blue.svg",
        "/assets/img/buttons/hide-navigation-blue.svg"
      );
      width: 30px;
      height: 30px;
    }
  }
}

.workspace-open-img {
  @include iconButton(
    "/assets/img/buttons/show-navigation-black.svg",
    "/assets/img/buttons/show-navigation-blue.svg"
  );
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
}

.workspace-close-img {
  @include iconButton(
    "/assets/img/buttons/hide-navigation-black.svg",
    "/assets/img/buttons/hide-navigation-blue.svg"
  );
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
}

.width-0 {
  width: 0px !important;
  margin-right: 0px !important;
}

.pop-up-center {
  position: absolute;
  left: 50;
  top: 50;
  max-width: 100%;
}

.pop-up-user-menu {
  position: absolute;
  right: 10px;
  top: 120px;
  max-width: 100%;
}

.own-profile {
  position: absolute;
  right: 20px;
  top: 120px;
  max-width: 100%;
}

.own-profile-edit {
  position: absolute;
  right: 20px;
  top: 120px;
  max-width: 100%;
}

.edit-avatar {
  position: absolute;
  right: 60px;
  top: 360px;
  max-width: 100%;
}

@media (min-width: 1980px) {
  .workspace-menu-btn {
    border-radius: 20px;
  }
}

@media (max-width: 960px) {
  .inner-section {
    padding: 0;
  }
  .main-container {
    gap: 0px;

    .main-workspace {
      margin: 0px;
      border-radius: 0px;
    }

    .left-side-component {
      margin: 0px;
      border-radius: 0px;
      width: 100vw;
      height: 100vh;
    }
    .right-side-component {
      margin: 0px;
      border-radius: 0px;
    }
  }
  .workspace-menu-btn {
    display: none;
  }
}
