<section>
  <div class="inner-section">
    <app-header></app-header>
    <div class="main-container">
      <button
        (click)="toggleWorkspace(); changeText()"
        class="workspace-menu-btn"
      >
        <div>{{ workspaceButtonText }}</div>
        <div
          [ngClass]="{
            'workspace-open-img': !leftSideComponentOpen,
            'workspace-close-img': leftSideComponentOpen,
          }"
        ></div>
      </button>
      <app-left-side-component
        [ngClass]="{
          'width-0': !leftSideComponentOpen,
        }"
      ></app-left-side-component>
      <app-main-workspace></app-main-workspace>
      <app-right-side-container
        [ngClass]="{
          'width-0': !rightSideComponentOpen,
        }"
      ></app-right-side-container>
    </div>
    <app-user-menu class="pop-up-user-menu"></app-user-menu>
    <app-own-profile-view class="own-profile"></app-own-profile-view>
    <app-own-profile-edit class="own-profile-edit"></app-own-profile-edit>
    <app-add-channel class="pop-up-center"></app-add-channel>
    <app-profile-view class="pop-up-center"></app-profile-view>
    <app-edit-avatar class="edit-avatar"></app-edit-avatar>
  </div>
</section>
