$bg-color: #eceefe;
$secondary-color: #ffffff;
$light-purple: #aeb0d9;
$text-grey: #686868;
$purple1: #444df2;
$purple2: #797ef3;
$purple3: #535af1;
$online-green: #92c83e;
$email-blue: #1181ff;

h1,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Nunito";
}

@mixin dFlex($jc: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin iconButton($img-path, $hover-img-path) {
  background-image: url($img-path);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &:hover {
    background-image: url($hover-img-path);
  }
  mat-icon {
    color: $text-grey;
  }
}

@mixin iconButtonWithHoverBackground($img-path, $hover-img-path) {
  @include iconButton($img-path, $hover-img-path);
  cursor: pointer;
  &:hover {
    background-color: $bg-color;
  }
}

@mixin statusDot($status) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  @if $status == "online" {
    background-color: $online-green;
  } @else if $status == "offline" {
    background-color: $text-grey;
  }
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
  color: $purple1;
  margin-top: 50px;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

p {
  margin: 0 !important;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.d-none {
  display: none;
}

.v-none {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
}

.primary-btn {
  background-color: $purple1 !important;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 25px;

  &:disabled {
    background-color: $text-grey;
  }
}

.secondary-btn {
  border: 1px solid $purple1 !important;
  color: $purple1 !important;
  font-size: 18px;
  font-weight: 700;
  padding: 25px;

  &:hover {
    background-color: $purple1 !important;
    color: white !important;
    filter: brightness(1.2);
  }

  &:disabled {
    background-color: white;
    border: 1px solid $text-grey;
    color: $text-grey;
  }
}

.link-text {
  font-family: Figtree !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: $purple1;
}

/* Styles for inputs */
.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  margin-bottom: 15px;

  .email-input,
  .password-input,
  .name-input {
    width: 500px;
    border-radius: 100px;
    height: 60px;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    box-sizing: border-box;

    &:hover {
      border: 1px solid $text-grey;
    }
  }

  .input-focus-border {
    border: 1px solid $purple1;
  }

  input {
    width: 420px;
    background-color: $bg-color;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
  }

  img {
    margin-left: 32px;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  position: relative;

  p {
    position: absolute;
    top: -30px;
  }
}
