<section *ngIf="popUpVisible">
  <!-- Subscribe to userData$ and assign emitted value to userData -->
  <div class="pop-up-wrapper" *ngIf="userData$ | async as userData">
    <div class="header">
      <div class="font24-700">Profile</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="user-img">
      <img [src]="userData.photoURL" alt="avatar" />
      <div class="change-img-overlay" (click)="fileInput.click()">
        <img src="/assets/img/icons/camera.png" alt="change-photo" />
        <p>
          Profilbild <br />
          Ändern
        </p>
      </div>
      <input
        type="file"
        #fileInput
        style="display: none"
        (change)="updatePhoto($event)"
      />
    </div>
    <div class="user-name-wrapper">
      <div class="df-sb-100">
        <div class="user-name">{{ userData.name }}</div>
        <div class="purple3-btn" (click)="openEditProfilePopUp()">
          Bearbeiten
        </div>
      </div>

      <div class="user-status-wrapper">
        <div class="status-dot"></div>
        <div class="user-status">Active</div>
      </div>
    </div>

    <div class="user-email-wrapper">
      <div class="email-wrapper-tittle">
        <img src="/assets/img/icons/mail-black.svg" alt="" />
        <div class="user-email-tittle">E-Mail-Adresse</div>
      </div>
      <div class="user-email">{{ userData.email }}</div>
    </div>
  </div>
  <div class="pop-up-shadow" (click)="closePopUp()"></div>
</section>
