<section *ngIf="popUpVisible">
  <div class="pop-up-wrapper">
    <div class="tittle-closse">
      <div class="font24-700">Mitglieder</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="members overflow-y-scroll">
      <app-user-list
        class="user-list"
        [usersUid]="channelData.uid"
        (selectedUser)="onUserSelected($event)"
      ></app-user-list>
      <div class="add-member" (click)="openAddUserToChannelPopUp()">
        <div class="add-person-icon"></div>
        <div class="font18-400">Mitglieder hinzufügen</div>
      </div>
    </div>
  </div>
  <div class="pop-up-shadow" (click)="closePopUp()"></div>
</section>
