<!-- reset-password-link.component.html -->
<div class="reset-password-container">
  <div class="back-arrow-img" (click)="navigateToResetPassword()"></div>

  <h2>Passwort zurücksetzen</h2>

  <!-- Email Input -->
  <div class="inputs-container" *ngIf="!resetPasswordSubmitted">
    <form #resetPasswordLinkForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- Password Inputs -->
      <div
        class="password-input"
        [class.input-focus-border]="authUIService.focused['password']"
      >
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
          minlength="6"
          #password="ngModel"
          placeholder="Neues Passwort"
          (focus)="authUIService.onFocus('password')"
          (blur)="authUIService.onBlur('password')"
          (input)="checkPasswordsMatch()"
        />
      </div>

      <div
        class="password-input"
        [class.input-focus-border]="authUIService.focused['confirmPassword']"
      >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="user.confirmPassword"
          required
          minlength="6"
          #confirmPassword="ngModel"
          placeholder="Neues Passwort Bestätigen"
          (focus)="authUIService.onFocus('confirmPassword')"
          (blur)="authUIService.onBlur('confirmPassword')"
          (input)="checkPasswordsMatch()"
        />
      </div>

      <div
        *ngIf="!passwordsMatch && confirmPassword.dirty"
        class="error-message"
      >
        <p>Ihre Kennwörter stimmen nicht überein</p>
      </div>

      <div class="button-container">
        <button
          class="primary-btn"
          [disabled]="!resetPasswordLinkForm.valid || !passwordsMatch"
        >
          Passwort ändern
        </button>
      </div>
    </form>
  </div>
</div>
