@import "global.scss";
section {
  width: 100%;
  height: 100px;
  @include dFlex($jc: space-between, $fd: row);
  padding: 20px;
  p {
    margin: 0;
  }
  box-sizing: border-box;
}

app-search-input {
  width: 100%;
  padding-left: 100px;
}

.user-wrapper {
  @include dFlex($fd: row);
  gap: 20px;

  &:hover {
    cursor: pointer;
    .user-name {
      color: $purple2;
    }

    .user-menu {
      @include iconButton(
        "/assets/img/buttons/arrow-down-blue.svg",
        "/assets/img/buttons/arrow-down-blue.svg"
      );
    }
  }
}

.user-name {
  font-size: 34px;
  font-weight: 700;
  min-width: max-content;
}

.user-img {
  position: relative;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.user-menu {
  @include iconButton(
    "/assets/img/buttons/arrow-down-black.svg",
    "/assets/img/buttons/arrow-down-blue.svg"
  );
}

.user-status {
  position: absolute;
  bottom: 8px;
  right: 0px;
  @include statusDot("online", 16px);
}

.user-profile-image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  margin-right: 8px;
}

.width-height-50 {
  width: 50px !important;
  height: 50px !important;
}

.arrow-left {
  margin-right: 5px;
  width: 25px !important;
  height: 25px !important;

  @include iconButton(
    "/assets/img/buttons/arrow-left-black.svg",
    "/assets/img/buttons/arrow-left-blue.svg"
  );
}

@media (max-width: 1400px) {
  section {
    padding-right: 10px;
  }

  .user-name {
    font-size: 30px;
  }

  .user-wrapper {
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  section {
    padding-right: 0;
  }

  .user-name {
    font-size: 25px;
  }
}

@media (max-width: 960px) {
  app-search-input {
    display: none;
  }

  .user-name {
    display: none;
  }

  .user-menu {
    display: none;
  }

  .user-img {
    margin-top: 10px;
    margin-right: 10px;
  }

  .logo-container {
    @include dFlex($ai: center);
    justify-content: flex-start;
  }

  .logo-name {
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  section {
    height: 80px;
  }

  .logo-container {
    img {
      width: 70%;
      height: auto;
    }
  }

  .user-img {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .user-status {
    display: none;
  }

  .logo-name {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }
}
