<section>
  <div class="logo-container">
    <img src="assets/img/logo-long.svg" alt="logo" />
  </div>
  <app-search-input #searchArea></app-search-input>
  <!-- Use *ngIf to assign the async value to a template variable -->
  <div
    class="user-wrapper"
    (click)="openPopUp()"
    *ngIf="userData$ | async as userData"
  >
    <div class="user-name">{{ userData.name }}</div>
    <div class="user-img">
      <img
        [src]="
          userData.photoURL ||
          'assets/img/profile-img/profile-img-placeholder.svg'
        "
        alt="avatar"
      />
      <div class="user-status"></div>
    </div>
    <div class="user-menu"></div>
  </div>
</section>
