@import "global.scss";
section {
  box-sizing: border-box;
  @include dFlex($fd: column);
  width: 100%;
  height: calc(100vh - 140px);
  padding-bottom: 40px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 110px;
  @include dFlex($jc: space-between);
  padding: 25px 45px;
  box-shadow: 0px 10px 10px -5px #00000014;
}

.message-container {
  @include dFlex();
  width: 100%;
  flex-grow: 1;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}

.header-left {
  @include dFlex();
  gap: 10px;
  &:hover {
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 20px;
    color: $purple3;
    .drop-down-icon {
      @include iconButton(
        "/assets/img/buttons/arrow-down-blue.svg",
        "/assets/img/buttons/arrow-down-blue.svg"
      );
    }
    .header-tag {
      @include iconButton(
        "/assets/img/icons/tag-blue.svg",
        "/assets/img/icons/tag-blue.svg"
      );
    }
  }
}

.drop-down-icon {
  @include iconButton(
    "/assets/img/buttons/arrow-down-black.svg",
    "/assets/img/buttons/arrow-down-blue.svg"
  );
}

.header-tag {
  @include iconButton(
    "/assets/img/icons/tag-black.svg",
    "/assets/img/icons/tag-blue.svg"
  );
}

.add-user {
  @include iconButton(
    "/assets/img/buttons/add-person-black.svg",
    "/assets/img/buttons/add-person-blue.svg"
  );
  background-color: $bg-color;
  border-radius: 50%;
}
