<section>
  <div class="header">
    <div class="header-left" (click)="openEditChannelPopUp()">
      <div class="header-tag"></div>
      <div class="font24-700">{{ channelName }}</div>
      <div class="drop-down-icon"></div>
    </div>
    <div class="header-right">
      <div class="channel-users" (click)="openChannelUsersViewPopUp()">
        <div class="user-imgs">
          <div *ngFor="let user of channelUsers" class="user-img">
            <img src="{{ user?.photoURL }}" alt="" />
          </div>
        </div>
        <div class="user-amount">{{ userAmount }}</div>
      </div>
      <div class="add-user" (click)="openAddUserToChannelPopUp()"></div>
    </div>
  </div>
  <div
    #messageContainer
    *ngIf="channelData"
    class="message-container overflow-y-scroll"
  >
    <div *ngFor="let message of messages$ | async" class="message">
      <app-message [message]="message"></app-message>
    </div>
  </div>
  <app-input-box [channelId]="channelId"></app-input-box>
  <app-channel-members-view
    class="channel-members-view"
  ></app-channel-members-view>
  <app-add-user-to-channel
    class="add-user-to-channel"
  ></app-add-user-to-channel>
  <app-edit-channel class="edit-channel"></app-edit-channel>
</section>
