@import "global.scss";
section {
  position: relative;
  box-sizing: border-box;
  @include dFlex($fd: column);
  width: 100%;
  height: calc(100vh - 140px);
  padding-bottom: 40px;
  box-sizing: border-box;
  z-index: auto;
}

.header {
  width: 100%;
  height: 110px;
  @include dFlex($jc: space-between);
  padding: 25px 45px;
  box-shadow: 0px 10px 10px -5px #00000014;
}

.message-container {
  @include dFlex();
  width: 100%;
  flex-grow: 1;
}

app-input-box {
  @include dFlex();
  width: 100%;
  height: 145px;
}

.header-left {
  @include dFlex();
  gap: 10px;
  &:hover {
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 20px;
    color: $purple3;
    .drop-down-icon {
      @include iconButton(
        "/assets/img/buttons/arrow-down-blue.svg",
        "/assets/img/buttons/arrow-down-blue.svg"
      );
    }
    .header-tag {
      @include iconButton(
        "/assets/img/icons/tag-blue.svg",
        "/assets/img/icons/tag-blue.svg"
      );
    }
  }
}

.drop-down-icon {
  @include iconButton(
    "/assets/img/buttons/arrow-down-black.svg",
    "/assets/img/buttons/arrow-down-blue.svg"
  );
}

.header-tag {
  @include iconButton(
    "/assets/img/icons/tag-black.svg",
    "/assets/img/icons/tag-blue.svg"
  );
}

.add-user {
  @include iconButton(
    "/assets/img/buttons/add-person-black.svg",
    "/assets/img/buttons/add-person-blue.svg"
  );
  background-color: $bg-color;
  border-radius: 50%;
}

.header-right {
  @include dFlex();
  gap: 10px;
}

.channel-users {
  @include dFlex();
  gap: 10px;
  padding: 3px 10px;
  &:hover {
    cursor: pointer;
    background-color: $bg-color;
    border-radius: 30px;
    color: $purple3;
  }
}

.user-imgs {
  @include dFlex();
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  margin-left: -10px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.user-amount {
  font-size: 20px;
  font-weight: 600;
}

.pop-up-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  max-width: 1980px;
  pointer-events: none;
  z-index: auto;

  * {
    pointer-events: all;
  }
}

.popUpAddUserToChannel {
  position: absolute;
  right: 40px;
  top: 155px;
  max-width: 100%;
  z-index: 2050;
}

.channel-members-view {
  position: absolute;
  right: 90px;
  top: 155px;
  max-width: 100%;
  z-index: 2050;
}
