<section>
  <div class="header">
    <div class="header-left" (click)="openEditChannelPopUp()">
      <div class="header-tag"></div>
      <!-- <img src="/assets/img/icons/tag-black.svg" alt="" /> -->
      <div class="font24-700">{{ channelName }}</div>
      <div class="drop-down-icon"></div>
    </div>
    <div class="header-right">
      <div class="channel-users">
        <div class="user-imgs">
          <div *ngFor="let user of channelUsers" class="user-img">
            <img src="{{ user?.photoURL }}" alt="" />
          </div>
        </div>
        <div class="user-amount">{{ userAmount }}</div>
      </div>
      <div class="add-user" (click)="openAddUserToChannelPopUp()"></div>
    </div>
  </div>
  <div class="message-container">nachrichten</div>
  <app-input-box [channelId]="channelId"></app-input-box>
</section>
