<section>
  <div class="header">
    <div class="header-left" (click)="openEditChannelPopUp()">
      <div class="header-tag"></div>
      <div class="font24-700">{{ channelName }}</div>
      <div class="drop-down-icon"></div>
    </div>
    <div class="header-right">
      <div class="channel-users" (click)="openChannelUsersViewPopUp()">
        <div class="user-imgs">
          <div *ngFor="let user of channelUsers" class="user-img">
            <img src="{{ user?.photoURL }}" alt="" />
          </div>
        </div>
        <div class="user-amount">{{ userAmount }}</div>
      </div>
      <div class="add-user" (click)="openAddUserToChannelPopUp()"></div>
    </div>
  </div>
  <div
    #messageContainer
    *ngIf="channelData"
    class="message-container overflow-y-scroll"
  >
    <div *ngIf="messages$ | async as messages" class="message">
      <div *ngFor="let message of messages; let i = index" class="message">
        <div
          class="daily-divider"
          *ngIf="
            isNewDay(
              i > 0 ? getTimestamp(messages[i - 1].time) : undefined,
              getTimestamp(message.time)
            )
          "
        >
          <div class="daily-divider-line">
            <div class="daily-divider-date">
              {{ message.time | firebaseDate }}
            </div>
          </div>

          <!-- {{ message.time | firebaseTime }} -->
        </div>
        <app-message
          (messageToEdit)="messageToEdit = $event"
          [message]="message"
        ></app-message>
      </div>
    </div>
  </div>

  <div class="receiver-info-container" *ngIf="messages.length === 0">
    <div
      class="receiver-info"
      (click)="channelId && openChannelUsersViewPopUp()"
    >
      <div class="channel-name"># {{ channelName }}</div>
    </div>
    <div class="channel-text">
      Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
      <span
        class="channel-text-name"
        (click)="channelId && openChannelUsersViewPopUp()"
        ># {{ channelName }}</span
      >
    </div>
  </div>

  <app-input-box
    [messageToEdit]="messageToEdit"
    [messagePath]="messagePath"
  ></app-input-box>
  <app-channel-members-view
    class="channel-members-view"
  ></app-channel-members-view>
  <app-add-user-to-channel
    class="add-user-to-channel"
  ></app-add-user-to-channel>
  <app-edit-channel class="edit-channel"></app-edit-channel>
</section>
