/* nunito-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/nunito-v26-latin-regular.woff2") format("woff2");
}
/* nunito-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/nunito-v26-latin-700.woff2") format("woff2");
}
