@import "fonts.scss";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
}
<<<<<<< Updated upstream
body {
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
>>>>>>> Stashed changes
