@import "global.scss";
section {
  @include dFlex();
  width: 100%;
  height: 100px;
}

header {
  width: 100%;
  @include dFlex($jc: space-between);
}

.left-wrapper {
  @include dFlex();

  &:hover {
    .drop-down-img {
      @include iconButton(
        "/assets/img/buttons/arrow_drop_down-blue.svg",
        "/assets/img/buttons/arrow_drop_down-blue.svg"
      );
    }

    .person-black-blue-img {
      @include iconButton(
        "/assets/img/icons/account_circle-blue.svg",
        "/assets/img/icons/account_circle-blue.svg"
      );
    }
    .chat-tittle {
      color: $purple3;
    }
  }
}

.person-black-blue-img {
  @include iconButton(
    "/assets/img/icons/account_circle-black.svg",
    "/assets/img/icons/account_circle-blue.svg"
  );
}

.chat-tittle {
  font-size: 20px;
  font-weight: 600;
  &:hover {
    color: $purple3;
  }
}
