@import "global.scss";
@import "./../style-helper.scss";

section {
  @include dFlex($fd: column);
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
}

header {
  width: 100%;
  @include dFlex($jc: space-between);
  margin-bottom: 25px;
}

.left-wrapper-open {
  @include dFlex();

  &:hover {
    .drop-down-open {
      @include dropDown("true", "true");
    }

    .person-black-blue-img {
      @include iconButton(
        "/assets/img/icons/account_circle-blue.svg",
        "/assets/img/icons/account_circle-blue.svg"
      );
    }
    .chat-tittle {
      color: $purple3;
    }
  }
}

.left-wrapper-closed {
  @include dFlex();

  &:hover {
    .drop-down-closed {
      @include dropDown("true", "false");
    }

    .person-black-blue-img {
      @include iconButton(
        "/assets/img/icons/account_circle-blue.svg",
        "/assets/img/icons/account_circle-blue.svg"
      );
    }
    .chat-tittle {
      color: $purple3;
    }
  }
}

.person-black-blue-img {
  @include iconButton(
    "/assets/img/icons/account_circle-black.svg",
    "/assets/img/icons/account_circle-blue.svg"
  );
}

.chat-tittle {
  font-size: 20px;
  font-weight: 600;
  &:hover {
    color: $purple3;
  }
}

.chat-items {
  @include dFlex($fd: column, $ai: start);
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.chat-items-closed {
  max-height: 0;
}

.chat-item {
  @include dFlex();
  width: max-content;
  gap: 15px;
  padding: 4px 20px;
  margin-bottom: 13px;
  &:hover {
    background-color: $bg-color;
    border-radius: 30px;
  }
}

.item-img {
  position: relative;
  @include dFlex();
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.item-name {
  @include dFlex();
  font-size: 18px;
  font-weight: 400;
}

.status {
  position: absolute;
  bottom: 0px;
  right: -2px;
  @include statusDot("online", 12px);
  z-index: 4;
}
