<section>
  <header>
    <div
      [ngClass]="{
        'left-wrapper-closed': !chatListOpen,
        'left-wrapper-open': chatListOpen
      }"
      (click)="toggleChatList()"
      class="left-wrapper"
    >
      <div
        [ngClass]="{
          'drop-down-closed': !chatListOpen,
          'drop-down-open': chatListOpen
        }"
      ></div>
      <div class="person-black-blue-img"></div>
      <div class="chat-title">Direktnachrichten</div>
    </div>
  </header>
  <div
    class="chat-items"
    [ngClass]="{
      'chat-items-closed': !chatListOpen,
      'chat-items-open': chatListOpen
    }"
  >
    <div *ngIf="chatsWithUsers$ | async as chatsWithUsers">
      <div
        *ngFor="let item of chatsWithUsers"
        class="chat-item"
        (click)="navigateToDirectChat(item.chat.id)"
      >
        <div class="item-img">
          <img [src]="item.user?.photoURL" alt="User Avatar" />
          <div class="status"></div>
        </div>
        <div class="item-name">
          {{ item.user?.name || "Unknown User" }}
        </div>
      </div>
    </div>
  </div>
</section>
