<section>
  <div class="tittle-closse">
    <div class="tittle">Channel erstellen</div>
    <div class="close-button"></div>
  </div>
  <div class="info">
    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.
  </div>
  <div class="tittle-channel-name">Channel-Name</div>
  <div class="input-channer-name">
    <input type="text" />
  </div>
  <div class="tittle-channel-description">Beschreibung (optional)</div>
  <div class="input-channel-description">
    <input type="text" />
  </div>
  <div class="save-btn">Erstellen</div>
</section>
