<section *ngIf="popUpVisible">
  <div class="pop-up-wrapper">
    <div class="tittle-closse">
      <div class="font24-700">Channel erstellen</div>
      <div class="close-button" (click)="closePopUp()"></div>
    </div>
    <div class="font18-400">
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </div>
    <div class="font18-700">Channel-Name</div>
    <div class="pop-up-input">
      <img src="assets/img/icons/tag-grey.svg" alt="" />
      <input
        [(ngModel)]="channelName"
        (ngModelChange)="checkIfChannelNameExists()"
        placeholder="z.B Kooperationsprojekte"
        type="text"
      />
    </div>
    <div *ngIf="channelNameExists" class="channel-exists-warning">
      Channel existiert bereits
    </div>
    <div class="font18-700">Beschreibung (optional)</div>
    <div class="pop-up-input">
      <input
        [(ngModel)]="chanelDescription"
        placeholder="dein Text hier"
        type="text"
      />
    </div>
    <div class="btn-wrapper">
      <button
        [disabled]="channelNameExists || !nameIsValid()"
        class="primary-btn"
        (click)="createChannel()"
      >
        Erstellen
      </button>
    </div>
  </div>
  <div class="pop-up-shadow" (click)="closePopUp()"></div>
</section>
