@import "global.scss";

section {
  @include dFlex($fd: column, $jc: space-between);
  width: 100%;
  height: 100%;
  border: 1px solid $light-purple;
  border-radius: 20px;
  margin: 40px 45px;
  padding: 20px;
  box-sizing: border-box;
}

.input-wrapper {
  @include dFlex($jc: start);
  width: 100%;
  color: $text-grey;
  textarea {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;
    background: none;
  }
}

.message-options {
  @include dFlex($fd: row, $jc: space-between, $ai: center);
  width: 100%;
}

.left-wrapper {
  @include dFlex();
  width: max-content;
  gap: 5px;
  .upload-button {
    @include iconButtonWithHoverBackground(
      "/assets/img/buttons/add-grey.svg",
      "/assets/img/buttons/add-blue.svg"
    );
  }
  .vertival-line {
    width: 1px;
    height: 40px;
    background-color: $light-purple;
  }

  .add-emoji {
    position: relative;
    @include iconButtonWithHoverBackground(
      "/assets/img/icons/sentiment_satisfied-grey.svg",
      "/assets/img/icons/sentiment_satisfied-blue.svg"
    );
  }
  .mention-button {
    @include iconButtonWithHoverBackground(
      "/assets/img/icons/alternate_email-grey.svg",
      "/assets/img/icons/alternate_email-blue.svg"
    );
  }
}

.send-button {
  @include iconButton(
    "/assets/img/buttons/send_icon-dark-blue.svg",
    "/assets/img/buttons/send_icon-light-blue.svg"
  );
}
